body{background: whitesmoke;}
footer{background: #F5F5F1; color: black;}

/************** FONTS *****************/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

/*Top Bar*/
.top-bar{background: #221F1F; color: white; padding: 15px 0;} 

/* Top Bar - Search */
.search input[type="search"]{ color: #989898; background: #ededed; border: 0; padding: 3px 10px;}
.search button{  background: #000; border: 0; color: #fff; padding: 3px 10px 4px; margin-left: -4px; }
.search label{ margin: 0; }

/* Top Bar - Social Widgets */
.social-media-icons ul{ padding: 0; margin: 0; }
.social-media-icons ul li{ list-style: none; display: inline; margin: 0 5px 0; }

/* Header - Main Menu */
.menu-area{background: #F5F5F1; color: black; padding: 15px 0; }
.main-menu ul{ list-style: none; padding: 0; margin: 0; font-size: 28px; }
.main-menu ul li{ display: inline;  margin: 0 50px 0 0;}
.main-menu ul li:last-child{ margin: 0; }
.main-menu ul li a{ text-transform: uppercase; color: #4c1b1b; text-decoration: none;}
.main-menu ul li a:hover{ color: #137ee2; }
.main-menu ul  li.current-menu-item a{ color:#E50914; }

/*Content*/
.content-area{background: #545655; color: white}

/* Slider */
.recent-post-slider.design-2 .post-image-bg{ min-height: 700px; }
.recent-post-slider.design-2 .post-content-left{ display: flex; align-items: center; }
.recent-post-slider .slick-dots li button { border: 0 !important; border-radius: 0 !important; width: 29px !important; height: 8px !important;}
.recent-post-slider .slick-dots li.slick-active button { background: #b9121b !important;}

 /* Services */
.services{ background: #ffffff; padding: 25px 0; color: #fefefe; color: black}
.services h2{ text-align: center; color: #221F1F; text-transform: uppercase; font-size: 38px; }
.services .widget-wrapper{ text-align: center; }
.services .widget-wrapper h2{ text-transform: uppercase; font-size: 1.2em; color: #3d3c37; font-weight: bold; }
.services .widget-wrapper:first-child{ padding: 15px 0; }
.services .widget-wrapper > img{ border: 10px solid #3d3c37; border-radius: 5px; opacity: 1.0; filter: alpha(opacity=100); /* For IE8 and earlier */ }
.services .widget-wrapper > img:hover{ opacity: 0.5; filter: alpha(opacity=50); /* For IE8 and earlier */}

 /* Middle Area */
.middle-area{ padding: 25px 0; }
.middle-area h1{ color: #4c1b1b; text-transform: uppercase;  }

 /* Middle Area - Sidebar */
.sidebar{ background: #221F1F; padding: 20px; margin: 0 0 30px; border: 1px solid black; }
.sidebar ul li a{color: #4285F4; }
.sidebar ul{ list-style: none; }
.sidebar ul li a:hover{ color: white; text-decoration: none; }

/* Middle Area - Featured News */
.home .news h1{ color: #F7F7F7; text-transform: uppercase; font-size: 38px; font-weight: bold; }
.home .news .format-image h2, .home .news .format-video h2, .home .news .format-standard h2 { color: #4285F4; background: transparent; display: inline-block; padding: 10px 0 5px; font-weight: bold; } 
.home .news .featured h2{ font-size: 35px; }
.home .news .secondary h2{ font-size: 20px; }
.home .news .meta-info p{ font-weight: bold; margin-bottom: 0; }
.home .news span, .news span a{ color: #4285F4; font-weight: normal; margin: 0 2px 0 0; }
.home .news article h2 a{ color: white; font-weight: bold }
.home .news article {border: 1px solid; border-radius: 2px; background:#ffffff; color: black; padding: 20px; margin-bottom: 20px; box-shadow: 10px 10px 20px 0px rgba(41, 41, 41, 0.75);}
.home .news img { box-shadow: 5px 5px 10px 0px rgba(41, 41, 41, 0.185); }
.news .thumbnail img:hover{ opacity: 0.5; filter: alpha(opacity=50); transition: .5s ease; /* For IE8 and earlier */}
 
/* Map */
.map iframe{ display: block; }

 /* Footer */
footer{ background: #000; padding: 15px 0; color: #fcfae1; }
 /* Footer - Footer Menu */
.footer-menu ul{ list-style: none; padding: 0; margin: 0; font-size: 20px; }
.footer-menu ul li{ display: inline;  margin: 0 15px 0 0;}
.footer-menu ul li:last-child{ margin: 0; }
.footer-menu ul li a{ color: #fcfae1;  text-decoration: none;}
.footer-menu ul  li.current-menu-item a{ color:#e58888; }
 
 /* Blog */
.wp-post-image{ float: left; margin: 0 15px 10px 0; }
.format-image h2 { color: #fff; background: white; padding: 15px; }
.format-video h2 { color: #fff; background: #211e1e; padding: 15px; }
.format-standard h2 { color: #444; background: white; padding: 15px; }
.blog article{ display: inline-block; margin: 0 0 30px; width: 100%; }
.blog article h2{ margin-bottom: 15px; }
.blog article p > img{ width: 100%; height: auto; }
.blog .meta-info p{ line-height: 1em; font-weight: bold; }
.blog .meta-info p > a{ color: #4285F4; font-weight: normal; } 
.blog article {border: 1px solid; border-radius: 2px; background:#ffffff; color: black; padding: 20px; margin-bottom: 20px; box-shadow: 10px 10px 20px 0px rgba(41, 41, 41, 0.75);}
.blog article img:hover{ opacity: 0.5; filter: alpha(opacity=50); transition: .5s ease;/* For IE8 and earlier */}

/* Search Page */
.search #main{ padding: 25px 0; }
.search #main form{ margin: 20px 0; }

/* Contact Page */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea{ border: 1px solid #989898; background: #f6f6f6; width: 100%; padding: 10px; border-radius: 2px;}
.wpcf7 input[type="submit"]{ background: #b9121b; border: 0; color: #ffffff; text-transform: uppercase; width: initial; padding: 15px; border-radius: 2px; }
.general-template { border: 1px solid; border-radius: 2px; background:#dcdcdc; color: black; padding: 20px; margin-bottom: 20px; box-shadow: 10px 10px 20px 0px rgba(41, 41, 41, 0.75); text-align: center; }
/* Archive */
.archive h1{color:steelblue; background: #221F1F; text-align: center;}
.archive article {border: 1px solid; border-radius: 2px; background:#ffffff; color: black; padding: 20px; margin-bottom: 20px; box-shadow: 10px 10px 20px 0px rgba(41, 41, 41, 0.75);}
.archive article img:hover{ opacity: 0.5; filter: alpha(opacity=50); transition: .5s ease;/* For IE8 and earlier */}

/************** MISCELLANEOUS *****************/
 /* Comments */
 .comment-respond{ margin: 30px 0; }
 .comment-respond label{ width: 100%; }
 #commentform input[type="submit"]{ background: #b9121b; border: 0; color: #ffffff; text-transform: uppercase; padding: 15px; }
  /* Post Formats */
 .format-image h2 { color: #444 !important; padding: 15px; }
 .format-video h2 { color: #444 !important; padding: 15px; }
 .format-standard h2 { color: #444 !important; padding: 15px; }
 .format-standard h2 a{ color: #444 !important; }
 .format-image h2 a{ color: #444 !important; }
 .format-video h2 a{ color: #444 !important; }
  /* Pagination */
 .blog .pages, .archive .pages, .single .pages{ margin-bottom: 40px; }
 .pagination{ display: block; } 

 .content img.alignnone {
     border: #000 1px solid;
     border-radius: 5px;
 }
/*--------------------------------------------------------------
Flex Slider
--------------------------------------------------------------*/

.slider-details-container {
    background: rgba(0, 0, 0, 0.3) none repeat scroll right -53px;
    color: #FFF;
    padding: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    max-width: 550px;
 }

.slider-details-container .slider-title a{
	color: #FFF;
	font-weight: bold;
}

.slider-details-container a.btn{
	background-color: rgb(239, 79, 79);
	color: rgb(254, 254, 254);
	border-radius: 0px;
	text-transform: uppercase;
}


.flex-control-paging li a {
    background: rgba(189, 189, 189, 0.5) !important;
    height: 4px !important;
    width: 30px !important;
}

.flex-control-paging li a.flex-active {
    background: rgba(253, 27, 27, 0.7) !important;
}


/*--------------------------------------------------------------
Responsive CSS
--------------------------------------------------------------*/

@media only screen and (max-width: 768px)  {

	.slider-details-container {
		position: absolute;
		top: 45%;
		margin-right: 45px;
		width: auto;
		padding: 15px;
	}
	.slider-description {
		display: none;
	}
	.slider-title h3 {
		font-size: 16px;
		margin: 0;
	}
	.slider-readmore-button {
		display: none;
	}

}

@media only screen and (max-width: 992px) {

	.slider-readmore-button {
		display: none;
	}
	.slider-description {
		display: none;
	}
	.slider-title h3 {
		margin: 0;
	}

}

#btnTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #btnTop:hover {
	background-color: #137ee2;
  }